.inputs {
    width: 100%;
    display: flex;
}

.submit {
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    background-color: #f62c2c;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
}

.submit:hover {
    opacity: 0.6;
}

.submitOut {
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    background-color: #f62c2c;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
}

.submitOut:hover {
    opacity: 0.6;
}

/* Стили для картинки */

.image {
    max-width: 100%;
}

/* Стили кода */

.wrapper {
    max-height: 100vh;
    border: 2px solid red;
    width: 320px;
}

div.field {
    margin-left: 10px; 
    padding-bottom: 25px;
  }
div.field:first-child {
    margin-top: 10px; 
}
div.field:last-child {
    margin-bottom: 0; 
}
div.field label {
    display: block;
    float: left;
    width: 100px;
    height: 15px;
}

input {
    height: 20px;
}

.btn {
    margin-left: 195px;
    margin-bottom: 5px;
    width: 100px;
}



/* Форма */


* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background: #f4f4f4;
}

.form-container {
    position: relative;
    left: 20%;
    width: 60%;
    height: 100vh;
    background: white;
}

.contact-form {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 600px;
}

input, textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

#submit {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}

#submit:hover {
    opacity: 0.6;
}
